<% unless current_user.google_event %>
  <p><%= link_to 'Authorize Your Calendar', redirect_path %></p>
<% end %>
<br>
<br>
  <div class="row">
    <%= form_tag(root_path, :method => "get", id: "search-form") do %>
          <div class="col-md-6">
              <div id="custom-search-input">
                  <div class="input-group col-md-12">
                    <%= text_field_tag :search, params[:search], placeholder: "Search for Classes based on Tutors, Students & Subjects", class: "form-control input-lg"   %>
                      <!-- <input type="text" class="form-control input-lg" placeholder="Buscar" /> -->
                      <span class="input-group-btn">
                        <%= button_tag(type: "submit", class: "btn btn-info btn-lg") do %>
                         <span><i class='glyphicon glyphicon-search'> </i></span>
                        <% end %>
                      </span>
                  </div>
              </div>
          </div>
    <% end %>
  </div>
<br>
<br>
<br>
<div id="f-calendar"></div>



