@import "fullcalendar";
@import "select2";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "rails_bootstrap_forms";
@import "periods";
@import "groups";


#school_name_div {
  display: none; 
}

#group_status_div {
  display: none; 
}

 #existing_group_div {
  display: none; 
}

#power-search {
  width: 600px;
}
// periods#index

.icon-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
