
#school_name_div {
  display: none; 
}

#group_status_div {
  display: none; 
}

#existing_group_div {
  display: none; 
}

#power-search-student-div {
  display: none; 
}

#power-search-fixed-group-div {
  display: none; 
}

#power-search-fixed-group {
  width: 600px;
}

#power-search-random-group {
  width: 600px;
}

