  p
    b User Type 
  = f.select :user_access, User.user_accesses.keys, { hide_label: true, prompt: "Select the type" }
  #first_name_div
    p
      b First Name
    = f.text_field :first_name, hide_label: true, required: true 
  #last_name_div
    p
      b Last Name
    = f.text_field :last_name, hide_label: true, required: true
  p
    b Email
  = f.text_field :email, hide_label: true, required: true
  #school_name_div
    p
      b School
    = f.text_field :school, hide_label: true
    p 
      b Year/Grade
    = f.select :year_level, User.options_for_year_level, hide_label: true
    p
      b What's the student's class type?
      = select_tag "class_type", options_for_select(["individual","group"])
  #group_status_div
    p
      b Has the group been created?
      = select_tag "group_status", options_for_select(["no","yes"])
    p
      b What's the group type?
      = select_tag "grouping_list", options_for_select(["1 to 1","1 to 2", "1 to 3","1 to 4"])
  #existing_group_div
    p
      = select_tag "groups", nil, id: 'power-search', class: "select-example", multiple: true
  p
    b Wechat Account
  = f.text_field :wechat_account, hide_label: true, required: true
  p
    b Phone number
  = f.text_field :phone_number, hide_label: true, required: true


  javascript:

    $(document).on('turbolinks:load', function(){
      $('#user_user_access').on('change', function() {
        if ( this.value == "student" )
        {
          $("#school_name_div").toggle();
        } else {
          $("#school_name_div").hide();

        }
      });

      $('#class_type').on('change', function() {
        if ( this.value == "group" )
        {
          $("#group_status_div").toggle()
        } else {
          $("#group_status_div").hide()
        }
      });

      $('#group_status').on('change', function() {
        if ( this.value == "yes" )
        {
          $("#existing_group_div").toggle()
        } else {
          $("#existing_group_div").hide()
        }
      });

      $(".select-example").select2({
        tags: true, 
        maximumSelectionLength: 1,
        placeholder: "Select an existing group/Create a new one",
        createTag: function (params) {
          return {
            id: params.term,
            text: params.term,
            newOption: true
          }
        },
        ajax: {
          url: "/admin/groups",
          dataType: 'json',
          delay: 250,
          data: function (params) {
            return {
              q: params.term, // search term
              page: params.page
            };
          },
          processResults: function (data, params) {
            return { results: $.map( data, function(client, i) {
                    return { id: client.id, text: client.name }
                } ) };          
          }
        },
      });
    });








